/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "assets/theme.css";
@import "primeicons/primeicons.css";

body {
    font-family: var(--font-family);
}

main {
  padding: 2% 3%;
}

.p-megamenu {
  background: #282828 !important;
}
